body {
    background-color: grey;
        font-family: Arial, sans-serif;
        margin: 100px;
        padding-top: 70px;
        display: flex;
        justify-content: right;
        align-items: right;
        background: grey; 
    }


.signup-formform {
  background-color: rgba(255, 255, 255, 0.7); 
}


    .signup-form h2 {
        margin-bottom: 30px;
        font-size: 22px;
        color: whitesmoke;
        text-align: left;
        padding-left: 30px;
       
    }

/*.signup-form label {   --- this part of the code has been replaced with (LabelOne and LabelTwo)
    display: block;
    margin-bottom: 5px;
font-size:20px;
text-align: right;
color: whitesmoke;
padding-right: 300px;
}*/



.signInDiv {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
     background: black;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
     width: 40%;
     border-radius: 15px;
     padding-bottom: 18px;
}
.signInDiv p {
    text-align: left;
    padding-left: 20px;
    color: white;
}
.footnote {
    text-align: left;
    padding-left: 20px;
    color: white;
}
.brinkgaming {
    color: orange;
}
.createaccount {
    color: white;
}
.forgotlink {
  color: orange;
  padding-left: 85%;
}

.LabelOne{
    display: block;
    font-size: 20px;
    text-align: left; 
    margin-bottom: 5px;
color: whitesmoke;
padding-left: 20px;
}
 .LabelTwo{
    display: block;
    font-size: 20px;

    padding-left: 20px;
    text-align: left;
    color: whitesmoke;
    margin-top: 25px;
}

.signInText{
    font-size: 25px;
    padding-right: 280px;
}
#textAreaOne{
    border-radius: 5px;
    width: 90%;
    border: 2px solid #ccc;
    padding-right: 45px;
    padding: 8px;
    background-color: black;
    color: white;
}
 #textAreaTwo{
border-radius: 5px;
width: 90%;
border: 2px solid #ccc;
padding-right: 45px;
padding: 8px;
background-color: black;
color: white;
}


.signup-form button {
    width: 95%;
    padding: 10px;
    background: hwb(16 4% 0%);
    color: white;
    border: none;
    border-radius: 17px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.9s;
}

.signup-form button:hover {
    background: orange;
}

/*@media (max-width: 768px) {
    form {
      width: 90%;
      margin: 0 auto;
      padding: 15px;
    }
  
    textarea {
      width: 100%;
      font-size: 16px;
      padding: 12px;
    }
  
    input,
    button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  */